<template>
    <div>
      <v-card>
        <v-tabs
            fixed-tabs
            background-color="#6179ff"
            center-active
            dark
        >
            <v-tab to="/home/other-user">Another User</v-tab>
            <v-tab to="/home/items"> Items</v-tab>
            <v-tab to="/home/pokedex">Pokédex</v-tab>
            <v-tab to="/home/my-pokemon" >My Info</v-tab>
        </v-tabs>
      </v-card>
      <router-view/>
    </div>
</template>

<script>
export default {
  name: 'Home',
}
</script>
