<template>
    <v-main>
         <v-snackbar
            :timeout="4000"
            v-model="snackbar"
            color="blue-grey"
            absolute
            rounded="pill"
            top
        >
            {{errorMessage}}
        </v-snackbar>

        <v-row no-gutters>
             <v-col cols="12" class="pa-2 mt-5" style="background: #dbdbdb">
                 <span class="text-h2">Items</span>
            </v-col>
            <v-col cols="2" v-for="n in items" :key="n.name">
                <ItemCard :item="n"/>
            </v-col>
            <v-col cols="12" >
                <v-pagination
                    circle
                    class="pagination-center"
                    v-model="itemPage"
                    :length="itemPageCount"
                    @input="getItems"
                ></v-pagination>
            </v-col>
        </v-row>
    </v-main>
</template>

<script>
import { getAllItems } from '../api/pokemon-api'
import ItemCard from '../components/ItemCard.vue'

export default {
    data () {
        return {
            snackbar: false,
            errorMessage: '',
            totalPageCount: 30,
            items: [],
            itemPage: 1,
            itemPageCount: 0,
            searchInput: ''
        }
    },
    methods: {
        async getItems (page) {
            const p = (page - 1) * this.totalPageCount
            const  { results, count } = await getAllItems(p, this.totalPageCount);
            this.itemPageCount = Math.ceil(count / this.totalPageCount);
            this.items = results
        }, 
    },
    components: {
        ItemCard
    },
    async mounted () {
        this.getItems(1)
    }
}
</script>