<template>
    <div class="center">
        <v-snackbar
            :timeout="4000"
            v-model="snackbar"
            color="blue-grey"
            absolute
            rounded="pill"
            top
        >
            {{errorMessage}}
        </v-snackbar>
        <v-card class="max-width pa-2" max-width="500">
            <div class="ma-4">
                <v-avatar
                    color="primary"
                    size="70"
                >
                    <v-img
                        class="elevation-6"
                        alt=""
                        src="https://www.pngarts.com/files/4/Pokeball-PNG-Image-Background.png"
                    ></v-img>
                </v-avatar>
            </div>
            <div class="text-h5"> Login to pokemon App</div>
            <v-card-actions>
                <v-text-field
                    name="input-10-1"
                    label="Username"
                    v-model="username"
                ></v-text-field>
            </v-card-actions>
            <v-card-actions>
                <v-text-field
                    name="input-10-1"
                    label="Password"
                    type="password"
                     v-model="password"
                ></v-text-field>
            </v-card-actions>
            <v-btn
                class="mt-2 mb-2"
                color="primary"
                @click="onSubmit"
                style="width: 90%"
            >
                Login
            </v-btn>
            <v-spacer></v-spacer>
            <router-link to="register">Create An Account</router-link>
        </v-card>
    </div>
</template>

<script>
import {login} from '../api/api'
export default{
    data () {
        return {
            username: '',
            password: "",
            errorMessage: '',
            snackbar: false
        }
    },
    methods: {
        async onSubmit () {
            if (!!this.username && !!this.password) {
                try {
                    const {user, token} = await login({username: this.username, password: this.password})
                    localStorage.setItem("user", JSON.stringify(user))
                    localStorage.setItem("token", token)
                    this.$router.push('/home/pokedex')
                } catch (e) {
                    if (JSON.stringify(e).includes('401')){
                        this.snackbar = true
                        this.errorMessage = "Invalid Credentials"
                    }
                }
            } else {
                this.snackbar = true
                this.errorMessage = "Missing username or password"
            }
        }
    }
}
</script>

