<template>
    <v-main>
        <v-snackbar
            :timeout="4000"
            v-model="snackbar"
            color="blue-grey"
            absolute
            rounded="pill"
            top
        >
            {{errorMessage}}
        </v-snackbar>

        <v-row no-gutters>
            <v-col cols="5" >
                <v-row no-gutters>
                    <v-col cols="12">
                         <v-card class="mx-auto mt-15" max-width="500" width="500">   
                            <UserForm :myInfo="myFullInfo" :readOnly="!formView" @submit="onFormSubmit"/>
                            <div v-show="!formView">
                                    <v-divider></v-divider>
                                        <v-btn color="orange lighten-2" text @click="formView = true">
                                            Modify
                                        </v-btn>
                                    <v-spacer></v-spacer>
                            </div>
                        </v-card>
                    </v-col>
                    <v-col cols="12" class="mt-5">
                        <v-btn color="primary" style="width: 60%" @click="logout">
                            Sign Out
                        </v-btn>
                    </v-col>
                </v-row >
            </v-col>
            <v-col cols="7" >
                <v-row no-gutters>
                    <v-divider></v-divider>
                    <v-col class="ma-4" md="12"  sm="12" lg="12">
                        <span class="text-h4">Like pokemon</span>
                    </v-col>
                    <v-col v-for="n in myFavoritePokemon" :key="n.name" md="4"  sm="4" lg="4">
                        <PokeDexCard buttonText='Remove' buttonColor='red' :pokemon="n"  @click="removePokemon"/>
                    </v-col>
                    <v-col v-if="!myFavoritePokemon.length" >
                        <v-sheet
                            class="mx-auto item-center"
                            height="30vh"
                            width="70%"
                            color="grey lighten-3"
                        >
                            <v-row>
                                <v-col md="12"  sm="12" lg="12">
                                    <v-icon large color="#a3a3a3 darken-2">
                                        mdi-archive-refresh-outline
                                    </v-icon>
                                </v-col>
                                <v-col md="12"  sm="12" lg="12">
                                    <div class="text-h3" style="color: #a3a3a3">
                                        Empty
                                    </div>
                                </v-col>
                            </v-row>
                        </v-sheet>
                    </v-col>
                    <v-col class="ma-4" md="12"  sm="12" lg="12">
                         <span class="text-h4">Dislike pokemon</span>
                    </v-col>
                    <v-col v-if="!myDislikePokemon.length" md="12"  sm="12" lg="12">
                        <v-sheet
                            class="mx-auto item-center"
                            height="30vh"
                            width="70%"
                            color="grey lighten-3"
                        >
                            <v-row>
                                <v-col md="12"  sm="12" lg="12">
                                    <v-icon large color="#a3a3a3 darken-2">
                                        mdi-archive-refresh-outline
                                    </v-icon>
                                </v-col>
                                <v-col md="12"  sm="12" lg="12">
                                    <div class="text-h3" style="color: #a3a3a3">
                                        Empty
                                    </div>
                                </v-col>
                            </v-row>
                        </v-sheet>
                    </v-col>
                    <v-col v-for="n in myDislikePokemon" :key="n.name" md="4"  sm="4" lg="4">
                         <PokeDexCard buttonText='Remove' buttonColor='red' :pokemon="n" @click="removePokemon"/>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-main>
</template>

<script>
import PokeDexCard from '../components/PokeDexCard.vue'
import { getUserById, deleteMyPokemonById, update } from '../api/api'
import UserForm from '../components/UserForm.vue'

export default {
    components: {
        UserForm,
        PokeDexCard
    },
    data () {
        return {
            myFavoritePokemon: [],
            myDislikePokemon: [],
            myFullInfo: {},
            formView: false,
            errorMessage: '',
            snackbar: false
        }
    },
    methods: {
        logout () {
            localStorage.clear();
            this.$router.push("/")
        },
        async removePokemon (e) {
            const data = await deleteMyPokemonById(e.id)
            this.segregatePokemon(data)
        },
        async getMyInfo () {
            const data = await getUserById()
            if (data.length) {
                this.myFullInfo = data[0]
                this.segregatePokemon(data[0].my_pokemon)
            }
        },
        segregatePokemon (pokemon) {
            this.myFavoritePokemon = pokemon.filter(item => item.is_like)
            this.myDislikePokemon = pokemon.filter(item => !item.is_like)
        },
        onPokeCardClick (data) {
            this.myFavoritePokemon.push(data)
        },
        async onFormSubmit (info){
            info.id = this.myFullInfo.id
            var data = await update(info)
            if (data.error) {
                this.snackbar = true
                this.errorMessage = data.error
            } else {
                localStorage.setItem("user", JSON.stringify(data.user))
                localStorage.setItem("token", data.token)
                this.formView = false;
                this.snackbar = true
                this.errorMessage = "Information Successfully modified"
            }
        }
    },
    async mounted () {
      this.getMyInfo()
    }
}
</script>