<template>
    <v-main>
         <v-snackbar
            :timeout="4000"
            v-model="snackbar"
            color="blue-grey"
            absolute
            rounded="pill"
            top
        >
            {{errorMessage}}
        </v-snackbar>

        <v-row no-gutters>
            <v-col cols="12" >
                <v-row no-gutters>
                    <v-col cols="12" md="12">
                    </v-col>
                    <div class="pokemon-list-overflow">
                        <v-row no-gutters>
                            <v-col v-for="n in users" :key="n.id" md="12"  sm="12" lg="12">
                                <UserCardInfo :user="n" />
                            </v-col>
                        </v-row>
                    </div>
                    <v-col cols="6" md="12">
                        <div class="ma-12">
                            <v-pagination
                                circle
                                class="pagination-center"
                                v-model="page"
                                :length="totalPages"
                                @input="updatePage"
                            ></v-pagination>
                        </div>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-main>
</template>

<script>
import UserCardInfo from '../components/UserCardInfo.vue'
import { getUsers } from '../api/api'

export default {
    data () {
        return {
            users: [],
            allUsers: [],
            myFavoritePokemon: [],
            searchInput: "",
            page: 1,
            totalPages: 10,
            itemsPerPage: 10,
            snackbar: false,
            errorMessage: ''
        }
    },
    methods: {
        async getPokemonList () {
            this.allUsers = await getUsers()
            this.totalPages = Math.ceil(this.allUsers.length / this.itemsPerPage);
            this.updatePage(1)
        },
        updatePage (page) {
            const toBeDisplay = JSON.parse(JSON.stringify(this.allUsers))
            const offset = this.itemsPerPage * (page - 1);
            this.users = toBeDisplay.splice(offset, this.itemsPerPage)
        }
    },
    components: {
        UserCardInfo
    },
    async mounted () {
      this.getPokemonList()
    }
}
</script>