<template>
    <v-main>
         <v-snackbar
            :timeout="4000"
            v-model="snackbar"
            color="blue-grey"
            absolute
            rounded="pill"
            top
        >
            {{errorMessage}}
        </v-snackbar>
        <v-row no-gutters>
            <v-col cols="12" >
                <v-row no-gutters>
                    <v-col cols="12" md="12">
                        <div class="mt-2 mr-3">
                            <v-text-field
                                class="search-input"
                                label="Search By name or number"
                                rounded
                                dense
                                clearable
                                v-model="searchInput"
                                filled
                                append-outer-icon="mdi-magnify"
                                @click:clear="clearSearch"
                                @click:append-outer="onSearchInput"
                            ></v-text-field>
                        </div>
                    </v-col>
                    <v-btn class="ma-2" color="secondary" @click="clearSearch">
                       ALL
                    </v-btn>
                     <v-btn class="ma-2" color="primary" @click="viewPockemonSet(myLike, 'like')">
                        View Like ({{myLike.length}})
                    </v-btn>
                    <v-btn class="ma-2" color="primary" @click="viewPockemonSet(myDisLike, 'dislike')">
                        View Disike ({{myDisLike.length}})
                    </v-btn>
                    <v-btn v-for="t of types" :key="t.name" class="ma-2" :color="getTypesColor(t.name)" @click="filterByType(t.name)" depressed outlined>
                        {{t.name}}
                    </v-btn>
                    <div class="pokemon-list-overflow">
                        <v-row no-gutters>
                            <v-col v-for="n in pokemonList" :key="n.name" md="3"  sm="3" lg="3">
                                <PokeDexCard 
                                :pokemon="n" 
                                @click="onPokeCardClick" 
                                :isLikeDislike="myPokemons.indexOf(n.name) === -1 || myPokemons.indexOf(n.name) === -1" 
                                :buttonText='myPokemons.indexOf(n.name) === -1 ? "" : getButtonName(n.name)' 
                            />
                            </v-col>
                        </v-row>
                    </div>
                    <v-col cols="6" md="12">
                        <div class="ma-12">
                            <v-pagination
                                circle
                                class="pagination-center"
                                v-model="page"
                                :length="totalPages"
                                @input="updatePage"
                            ></v-pagination>
                        </div>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-main>
</template>

<script>
import PokeDexCard from '../components/PokeDexCard.vue'
import { getPockemonList, getPockemonByName, getAllTypes, getByTypes } from '../api/pokemon-api'
import { addPokemonLikeDislike, getUserById, deleteMyPokemonById } from '../api/api'
import { getTypesColor } from '../helpers/helper'

export default {
    data () {
        return {
            pokemonList: [],
            myFavoritePokemon: [],
            searchInput: "",
            page: 1,
            totalPages: 10,
            itemsPerPage: 20,
            snackbar: false,
            errorMessage: '',
            myPokemonListObjects: [],
            myPokemons: [],
            myLike: [],
            myDisLike: [],
            filter: '',
            types: []
        }
    },
    methods: {
        async onSearchInput () {
             this.filter = '';
            try {
                if (this.searchInput.length) {
                    let pokemonSearched = await getPockemonByName(this.searchInput)
                    this.pokemonList = [{
                        name: this.searchInput,
                        url: `https://pokeapi.co/api/v2/pokemon/${pokemonSearched.id}`
                    }]
                    this.totalPages = 1;
                } else {
                    this.getPokemonList(0);
                }
            } catch (e) {
                console.log(e)
            }
        },
        clearSearch () {
            this.searchInput = '';
            this.onSearchInput();
        },
        viewPockemonSet (data, filter) {
            this.filter = filter;
            this.searchInput = '';
            this.pokemonList = data.map(item => {
                return {
                    name: item,
                    url: `https://pokeapi.co/api/v2/pokemon/${item}`
                }
            })
            this.totalPages = 1;
        },
        async filterByType (type) {
            this.filter = type;
            const {pokemon} = await getByTypes(type)
            this.pokemonList = pokemon.map(item => item.pokemon)
            this.totalPages = 1;
        },
        async getPokemonList (offset) {
            const { results, count } = await getPockemonList(this.itemsPerPage, offset)
            this.totalPages = Math.round(count / this.itemsPerPage);
            this.pokemonList = results;
        },
        updatePage (e) {
            const offset = e * this.itemsPerPage;
            this.getPokemonList(offset)
        },
        async onPokeCardClick (data) {
            if (this.myPokemons.indexOf(data.name) > -1) {
                this.removePokemon(this.myPokemonListObjects.find(item => item.name === data.name))
                return;
            }
            const userInfo = JSON.parse(localStorage.getItem('user'));
            const pokemonInfo = {
                name: data.name,
                is_like: data.info === 'like' ? 1 : 0,
                user_id: userInfo.id,
            }
            try {
                const response = await addPokemonLikeDislike(pokemonInfo)
                if (response.error) {
                    this.errorMessage = response.error;
                    this.snackbar = true;
                } else {
                     this.separateLikeDislike(response)
                }
            } catch (e) {
                console.error(e)
            }
        },
        getButtonName (pokemonName) {
            if (this.myLike.indexOf(pokemonName) != -1) {
                return "Remove Liked Pokemon"
            } else {
                return "Remove Hate Pokemon"
            }
        },
        separateLikeDislike (myPokemon) {
             this.myPokemonListObjects = myPokemon;
            this.myPokemons = myPokemon.map(item => item.name)
            this.myLike = myPokemon.filter(item => item.is_like).map(item => item.name)
            this.myDisLike = myPokemon.filter(item => !item.is_like).map(item => item.name)
        },
        async getUserPokemonPreferences () {
            const data = await getUserById()
            if (data.length) {
                const { my_pokemon } = data[0]
                this.separateLikeDislike(my_pokemon)
            }
        }, 
        async removePokemon (e) {
            const data = await deleteMyPokemonById(e.id)
            this.separateLikeDislike(data)
            this.refreshRemoveView()
        },

        refreshRemoveView () {
            switch(this.filter) {
                case 'like': 
                    this.viewPockemonSet(this.myLike ,this.filter)
                    break;
                case 'dislike': 
                    this.viewPockemonSet(this.myDisLike ,this.filter)
                    break;
            }
        },
        async getType() {
            const { results } = await getAllTypes();
            this.types = results
        },
        getTypesColor: getTypesColor
    },
    components: {
        PokeDexCard
    },
    async mounted () {
      this.getPokemonList(0)
      this.getUserPokemonPreferences();
      this.getType();
    }
}
</script>