<template>
    <div class="center">
        <v-card class="max-width pa-2" max-width="500" width="500">
            <div class="ma-4">
                <v-avatar
                    color="primary"
                    size="70"
                >
                    <v-img
                        class="elevation-6"
                        alt=""
                        src="https://www.pngarts.com/files/4/Pokeball-PNG-Image-Background.png"
                    ></v-img>
                </v-avatar>
            </div>
            <div class="text-h5"> Register to pokemon App</div>
            <UserForm @submit="onFormSubmit"></UserForm>
        </v-card>
    </div>
</template>

<script>
import UserForm  from '../components/UserForm.vue'
import { register } from '../api/api'
export default{ 
    components: {
        UserForm
    },
    methods: {
        async onFormSubmit (e) {
            const data = await register(e)
            if (data) {
                localStorage.setItem("user", JSON.stringify(data.user))
                localStorage.setItem("token", data.token)
                this.$router.push('/home/pokedex')
            }
        }
    }
}
</script>

