<template>
    <v-container>
        <v-card class="mx-auto" max-width="374">
            <div class="d-flex flex-column align-center">
                <v-img
                    height="100"
                    width="100"
                    :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/' + item.name + '.png'"
                ></v-img>
                <v-card-title>{{item.name}}</v-card-title>
            </div>
        </v-card>
    </v-container>
</template>

<script>
export default {
    props: {
        item: Object,
    },
    data () {
        return {
            pokemonForms: {},
            frontIndex: 2
        }
    },
    methods: {

    }
}
</script>
