<template>
    <div>
        <v-avatar
            src="https://www.pngarts.com/files/4/Pokeball-PNG-Image-Background.png"
            color="white"
            size="100"
        >
            <v-img
                class="elevation-6"
                alt=""
                src="https://www.pngall.com/wp-content/uploads/4/Pokemon-Pokeball-Transparent.png"
            ></v-img>
        </v-avatar>
        <div class="text-h6">Empty</div>
    </div>
</template>
