<template>
    <v-container>
        <v-card class="mx-auto my-12" max-width="374" hei
        >
            <v-carousel v-model="frontIndex" :show-arrows="false"  transition="fade-transition" height="250">
                <div v-for="(item,i) in pokemonForms.sprites" :key="i" >
                    <v-carousel-item
                        v-if="item != null"
                        :default="i === 'front_default'"
                        :src="item"
                    ></v-carousel-item>
                </div>
            </v-carousel>
            <v-card-title>{{pokemonForms.name}}</v-card-title>
                <div class="mb-2">
                   <v-chip
                        class="ml-2"
                        v-for="(data , i) of pokemonForms.types" :key="i"
                        :color="getTypesColor(data.type.name)"
                        pill
                        dark
                    >{{data.type.name}}</v-chip>
                </div>
            <v-divider class="mx-4"></v-divider>
            <v-card-actions>
                <v-btn v-if="!isLikeDislike" :color="buttonColor ? buttonColor : 'deep-purple'" text @click="imitClickCard">
                    {{buttonText ? buttonText : 'Choose Favorite'}}
                </v-btn>
                <v-btn v-if="isLikeDislike" :color="buttonColor ? buttonColor : 'orange'" text @click="imitLikeDislikeCard('dislike')">
                    Dislike
                </v-btn>
                 <v-btn v-if="isLikeDislike" :color="buttonColor ? buttonColor : 'green'" text @click="imitLikeDislikeCard('like')">
                     Like
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script>
import { getPockemonByName } from '../api/pokemon-api'
import { getTypesColor } from '../helpers/helper'
export default {
    props: {
        pokemon: Object,
        buttonColor: String,
        buttonText: String,
        isLikeDislike: {
            type: Boolean,
            default: false
        },
    },
    data () {
        return {
            pokemonForms: {},
            frontIndex: 2
        }
    },
    methods: {
        getTypesColor: getTypesColor,
        getSpritesIndex (sprites) {
            var count = 0;
            for (let index in sprites) {
                if (sprites[index]) {
                    count++
                }
                if (index == "front_default") {
                    this.frontIndex = count
                    break
                }
            }
        },
        imitClickCard () {
            this.$emit('click', this.pokemon)
        },
        imitLikeDislikeCard (info) {
            this.$emit('click', {...this.pokemon, info})
        }
    },
    async created () {
        const data = await getPockemonByName(this.pokemon.name)
        this.getSpritesIndex(data.sprites);
        this.pokemonForms = data;
    }
}
</script>
