<template>
    <div>
        <v-avatar
            src="https://www.pngarts.com/files/4/Pokeball-PNG-Image-Background.png"
            color="gray"
            size="120"
        >
            <v-img
                class="elevation-6"
                alt=""
                :src="pokeInfo.sprites ? pokeInfo.sprites.front_default :''"
            ></v-img>
        </v-avatar>
        <div  class="text-h6">{{pokemon.name}}</div>
    </div>
</template>

<script>
import { getPockemonByName } from '../api/pokemon-api'
export default{
    data () {
        return {
            pokeInfo: {}
        }
    },
    props: {
        pokemon: Object
    },
    async created () {
        this.pokeInfo = await getPockemonByName(this.pokemon.name)
    }
}
</script>
