<template>
    <v-form v-model="valid" ref="form" >
        <v-container class="pa-6">
            <v-row>
                <v-col cols="12" md="12">
                    <v-text-field :readonly="readOnly" v-model="first_name" :rules="firstNameRules" :counter="20" label="First name" required></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                    <v-text-field :readonly="readOnly" v-model="last_name" :rules="nameRules" :counter="10" label="Last name" required ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                            v-model="birthday"
                            label="Birthday date"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :rules="birthdayRule"
                        ></v-text-field>
                        </template>
                        <v-date-picker
                            v-if="!readOnly"
                            v-model="birthday"
                            :active-picker.sync="activePicker"
                            :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                            min="1950-01-01"
                            @change="save"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="12">
                    <v-text-field :readonly="readOnly" v-model="username" :rules="userNameRules" :counter="12" label="Username" required></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                    <v-text-field :readonly="readOnly"  v-model="password" type="password" placeholder="******" :rules="passwordRule" :counter="12" label="Password" required></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                    <v-text-field :readonly="readOnly" v-model="confirmPass" type="password" placeholder="******" :rules="confirmPassRule.concat(passwordConfirmationRule)" :counter="12" label="Confirm Password" required></v-text-field>
                </v-col>
            </v-row>
            <v-btn v-show="!readOnly" class="mr-4" @click="submit">submit</v-btn>
            <v-btn  v-show="!readOnly"  @click="clear">clear</v-btn>
        </v-container>
    
    </v-form>
</template>

<script>
export default{
    props: {
        readOnly: {
            type: Boolean,
            default: false
        },
        myInfo: Object
    },
    data: () => ({
        valid: false,
        first_name: '',
        last_name: '',
        username: '',
        password: '',
        confirmPass: '',
        birthday: '',
        activePicker: null,
        menu: false,
       firstNameRules: [
            v => !!v || 'Name is required',
            v => v.length <= 20 || 'Name must be less than 10 characters',
        ],
        nameRules: [
            v => !!v || 'Name is required',
            v => v.length <= 10 || 'Name must be less than 10 characters',
        ],
        passwordRule: [
            v => !!v || 'Password is required',
            v => v.length <= 12|| 'Name must be less than 12 characters',
        ],
        confirmPassRule: [
            v => !!v || 'Password is required',
            v => v.length <= 12|| 'Name must be less than 12 characters',
        ],
        userNameRules: [
            v => !!v || 'Username is required',
            v => v.length <= 12 || 'Name must be less than 12 characters',
        ],
        birthdayRule: [
            v => !!v || 'Birthday is required',
        ]
    }),
    computed: {
        passwordConfirmationRule() {
            return () => (this.password === this.confirmPass) || 'Password must match'
        },
    },   
    watch: {
        menu (val) {
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        }, 
        myInfo: function () {
            this.last_name = this.myInfo.last_name
            this.first_name = this.myInfo.first_name
            this.birthday = this.myInfo.birthday
            this.username = this.myInfo.username
            this.passwordRule = this.confirmPassRule =  [
                v => v.length <= 12|| 'Name must be less than 12 characters',
            ]
        }
    },
    methods: {
        save (date) {
            this.$refs.menu.save(date)
        },
        submit () {
            this.$refs.form.validate()
            if (this.valid) {
                this.$emit('submit', {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    username: this.username,
                    password: this.password,
                    birthday: this.birthday
                })
            }
        },
        clear () {
            this.first_name = ''
            this.last_name = ''
            this.username = ''
            this.password = ''
            this.confirmPass = ''
            this.birthday = ''
        },
    }
}
</script>

