<template>
    <v-container>
        <v-card class="mx-auto my-12" >
            <v-row >
                <v-col md="1">
                    <v-card-title>       
                        <v-avatar
                            color="primary"
                            size="56"
                        >
                            <v-img
                                class="elevation-6"
                                alt=""
                                src="https://www.pngarts.com/files/4/Pokeball-PNG-Image-Background.png"
                            ></v-img>
                        </v-avatar>
                    </v-card-title>
                </v-col>
                <v-col class="d-flex align-center" md="5">
                    <span class='text-h4'>{{user.first_name + " " + user.last_name}}</span>
                </v-col>
                <v-col md="12" class="mb-4">
                      <v-row>
                        <v-col md="6">
                             <span class="text-h5">Liked Pokemon</span>
                             <v-row md="12" class="ma-5">
                                <v-col md="4" v-for="pokemon in likedPokemon" :key="pokemon.name">
                                    <PokemonAvatar :pokemon="pokemon"/>
                                </v-col>
                                <v-col md="4" v-for="n in (3 - likedPokemon.length)" :key="n">
                                    <PokemonEmptyAvatar/>
                                </v-col>
                             </v-row>
                        </v-col>
                        <v-col md="6">
                             <span class="text-h5">Disliked Pokemon</span>
                             <v-row md="12" class="ma-5">
                                <v-col md="4" v-for="pokemon in dislikePokemon" :key="pokemon.name">
                                    <PokemonAvatar :pokemon="pokemon"/>
                                </v-col>
                                <v-col md="4" v-for="n in (3 - dislikePokemon.length)" :key="n">
                                    <PokemonEmptyAvatar/>
                                </v-col>
                            </v-row>
                        </v-col>
                      </v-row>
                </v-col>
             </v-row >
             <v-divider class="mx-4"></v-divider>
        </v-card>
    </v-container>
</template>

<script>
import PokemonAvatar from './PokemonAvatar.vue'
import PokemonEmptyAvatar from './PokemonEmptyAvatar.vue'
export default {
    data () {
        return {
            pokemonForms: {},
            frontIndex: 2,
            likedPokemon: [],
            dislikePokemon: []
        }
    },
    components: {
        PokemonAvatar,
        PokemonEmptyAvatar
    },
    props: {
        user: Object
    },
    created () {
        this.likedPokemon = this.user.pokemon.filter(item => item.is_like)
        this.dislikePokemon = this.user.pokemon.filter(item => !item.is_like)
    }
}
</script>
