.search-input {
    width: 50%;
    float: right;
    margin: 50px
}

.vertical-scroll {
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width {
    width: 350px;
}

.item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-list-overflow {
    width: 100%;
    height: 78vh;
    overflow-y: auto;
}