<template>
    <v-app>
        <div id="app">
            <router-view/>
        </div>
    </v-app>
</template>

<style lang="scss">

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.v-tab{
    color: white
}

.v-slide-group__content {
    justify-content: center;
}

body {
    background: #fdfdfd;
}

#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #023669;
    }
}
</style>

<script>
export default {
    methods: {
        onTabChange: function (route) {
            this.$router.push(route).catch(()=>{});
        }
    }
}
</script>

gin-top: 60px;
